@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');


/* Define variabel di dalam CSS */
:root {
    --primary: hsl(45, 94%, 57%);
    --dark-grey: hsl(0, 0%, 12%);
    --grey: hsl(0, 0%, 20%);
    --off-black: hsl(0, 0%, 8%);
}


* ::before, ::after {
    box-sizing: border-box;
}

body {
    background-color: var(--off-black);
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

main {
    background-color: var(--dark-grey);
    border-radius: 15px;
    width: 400px;
    text-align: center;
    padding: 30px 0;
}

/* View Height --> satuan tinggi dari layar monitor */

.pic {
    border-radius: 50px;
}

.name {
    font-size: 30px;
    color: white;
    margin-bottom: 0;
}

.place {
    font-size: 17px;
    color: var(--primary);
    margin-top: 0;
}

.desc {
    color: white;
    margin-top: 30px;
}

.option {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social-links {
    background-color: var(--grey);
    color: white;
    border-radius: 7px;
    width: 330px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
}

.social-links:hover {
    background-color: var(--primary);
    color: var(--grey);
}


footer {
    color: white;
    font-size: 12px;
    text-align: center; 
    width: 100%;
    margin: 30px 0;
}

footer a { color: hsl(228, 45%, 44%); }
